body {
    //background-color: grey;
    font-family: sans-serif;
    font-size: 16px;
    color: $colour--black;
}

.App {
    max-width: 1440px;
    margin: 0 auto;
}

.editor-window {
    //background-color: lightblue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    //padding: 1em;
    //background-color: red;

    [class^="editor-window__pane"] {
        //border: 1px solid red;
        box-sizing: border-box;
        padding: $panel-padding;
        padding-top: 0;
    }

    &__pane--left {
        //background-color: pink;
        flex-basis: $left-pane--width;
        border-right: 1px solid $colour--grey-dark;
        min-height: 100vh;
        //background-color: $colour--grey-light;

    }

    &__pane--right {
        //background-color: coral;
        flex-basis: $right-pane--width;
    }

}

.button {
    transition: opacity 0.3s; // *** not working...

    &--is-disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.button-group {
    .button {
        &:first-child {
            margin-right: 0.5em;
        }
    }
}

.image-wrapper {
    height: 100%;
    margin-right: 0.5em;
    background-color: $colour--unsaved;
    border: 1px solid $colour--white;
    box-sizing: border-box;

    color: white;
    font-size: $font-size--small;
    img {
        width: auto;
        height: 100%;
    }
}

.resizeable-container {
    resize: vertical;
    overflow: scroll;
    overflow-x: hidden;
    height: $resizeable-container--default-height;
    min-height: $resizeable-container--default-height;
    max-width: 100%;
    max-height: 290px;
}

