body {
    //background-color: grey;
    font-family: sans-serif;
    font-size: 16px;
    color: $colour--black;
    line-height: 1;
}

.App {
    max-width: 1440px;
    min-width: 940px;
    margin: 0 auto;
}

.editor-window {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    transition: all 0.3s;

    opacity: 0;

    &.is-active { // *** displays 'route'
        display: flex;
        opacity: 1;
    }

    [class^="editor-window__pane"] {
        box-sizing: border-box;
        padding: $panel-padding;
        padding-top: 0;
    }

    &__pane--left {
        //background-color: pink;
        flex-basis: $left-pane--width;
        border-right: 1px solid $colour--grey-medium;
        min-height: 100vh;
        //background-color: $colour--grey-light;

    }

    &__pane--right {
        //background-color: coral;
        flex-basis: $right-pane--width;
    }

}

.button {
    transition: all 0.3s;
    border: 3px solid $colour--grey-medium;
    padding: 0.5em;
    background-color: scale-color($colour--green, $lightness: 80%);

    &:hover {
        border-color: $colour--green;
        color: scale-color($colour--green, $lightness: -30%);
    }

    &:active {
        background-color: $colour--white;
        border-color: $colour--white;
    }

    &--save {
        background-color: $colour--green;
        color: $colour--white;
    }

    &--warn {
        background-color: $colour--red;
        border-color: scale-color($colour--red, $lightness: -30%);
        color: $colour--white;

        &:active {
            color: $colour--red!important;
        }

        &:hover {
            border-color: scale-color($colour--red, $lightness: 30%);
            color: $colour--white;
        }
    }

    &--is-disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.button-group {
    .button {
        &:first-child {
            margin-right: 0.5em;
        }
    }
}

.image-wrapper {
    height: 100%;
    margin-right: 0.75em;
    background-color: $colour--unsaved;
    border: 1px solid $colour--white;
    box-sizing: border-box;
    min-width: 4em;
    display: flex;

    //color: $colour--white;
    //font-size: $font-size--small;

    &__caption {
        background-color: $colour--white;
        color: $colour--black;
        display: flex;
        align-items: end;
        padding: 0 0.25em;
        font-size: $font-size--smallest;
    }

    img {
        width: auto;
        height: 100%;
    }
}

.resizeable-container {
    resize: vertical;
    overflow: scroll;
    overflow-x: hidden;
    height: $resizeable-container--default-height;
    min-height: $resizeable-container--default-height;
    max-width: 100%;
    max-height: 290px;
}

.item-will-delete {
    transform: scale(0.95);
}

.item-is-deleting {
    opacity: 0;
    transform: scale(0.4);
}

