.brand {
    //background-color: green;
    margin: 0 0.5rem;
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    pointer-events: none;

    &:before {
        content: '';
        background-color: $colour--grey-medium;
        height: 1px;
        top: 2.75rem;
        width: 100%;
        position: absolute;
    }

    &__logo {
        //background-color: red;
        height: 6rem;
        width: 35%;
        display: flex;
        justify-content: center;
        position: relative;

        img {
            height: 100%;
            width: auto;
        }
    }
}
