.form-row {

}

.form-group {

    &__title {
        font-size: $font-size--small;
    }

    &__validation-message {
        font-size: $font-size--smallest;
    }
}

.input-item {

    &--read-only {
        pointer-events: none;
        //background-color: red;
    }

    &--uppercase {
        text-transform: uppercase;
    }
}
