.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        width: 50vw;
        //background-color: $colour--green;

        &:hover {
            //background-color: scale-color($colour--green, $lightness: -20%);
        }

        &--success {
            background-color: $colour--green-dark;
            //color: $colour--green;
            color: $colour--white;
            //color: scale-color($colour--green, $lightness: 20%);
        }
    }
}
