.swatches {
    .user-swatch {
        cursor: default;
        background-color: $colour--grey-light;
        display: flex;
        margin: 0.25em 0;
        padding: 0.5em;
        font-size: 0.9em;
        justify-content: space-between;
        transition: all 0.3s;
        font-weight: 100;

        &:hover {
            padding: 1em;
            letter-spacing: 0.1em;
            color: $colour--white;
            background-color: scale-color($colour--grey-medium, $lightness: 20%);
            .user-swatch__date {
                color: scale-color($colour--green, $lightness: 70%);
            }
        }

        &--marked {
            background-color: $colour--green;
            padding: 1em;
            letter-spacing: 0.1em;


            &:hover {
                background-color: $colour--green-dark;
            }
        }

        &__date {
            color: $colour--green-dark;
        }
    }
}
