$font-size--smallest: 0.66rem;
$font-size--small: 0.75rem;
$font-size--normal: 1rem;
$font-size--large: 1.5rem;
$font-size--larger: 2rem;
$font-size--largest: 2.5rem;

$panel-padding: 0.5em;

$left-pane--width: 35%;
$right-pane--width: 65%;

$resizeable-container--default-height: 4em;

//$colour--green: #51b848;
$colour--green: #51b848;
$colour--green-dark: scale-color($colour--green, $lightness: -35%);

$colour--green-mid: #8aba87;



$colour--red: #c31f16;
//$colour--unsaved: #aac3a7;
$colour--unsaved: #d2e3d0;
$colour--white: #ffffff;
$colour--black: #231f20;
$colour--grey-dark: #58595b;
$colour--grey-medium: #939698;
$colour--grey-light: #e7e8e9;
$colour--grey-light-2: #f7f7f8;
