html{

  #debug{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
  }

  &._maximum_{
    #debug{
      background-color: blue;
      &:after{
        content: "MAXIMUM";
      }
    }
  }

  &._large_{
    #debug{
      background-color: green;
      &:after{
        content: "LARGE";
      }
    }
  }

  &._medium_{
    #debug{
      background-color: yellow;
      &:after{
        content: "MEDIUM";
      }
    }
  }

  &._small_{
    #debug{
      background-color: orange;
      &:after{
        content: "SMALL";
      }
    }
  }

  &._minimum_{
    #debug{
      background-color: red;
      &:after{
        content: "MINIMUM";
      }
    }
  }

}