/*@include font-face( "frutiger", "/assets/fonts/frutiger" );

body{
  font-family: frutiger;
}*/

@import "colours";

@include font-face( "cochin", "/assets/fonts/cochin" );

body{
  font-family: cochin;
  line-height: 133%;
  font-size: 1.15rem; // *** NOTE slight bump up in size globally
  text-rendering: geometricPrecision; // *** TODO is this good or not - test properly
  @include user-select( none );
}

ul, li{
  list-style: none;
  padding : 0;
  margin : 0;

  label{
    text-transform: capitalize;
  }
}

#views{
  h3{
    //margin: 0; // *** TEST ONLY
  }
}

a{

  @include transition( color 0.2s ease-out);

  text-decoration: none;
  font-weight: bold;
  color: $colour-off-black;

  &:hover{
    text-decoration: underline;
  }
}

.link{
  cursor: pointer;
}

.link.my-swatches{
  //@extend %under-stroke;
  //@extend %under-stroke-psuedo;

  /*background-image: url("/assets/images/stroke.png");
  background-repeat: no-repeat;*/

  position: relative;

  &:after{
    content: url("/assets/images/stroke.png");
    position: absolute;
    top: 0.6rem;
    left: 0;
    width: 100%;
    opacity: 0.6;
    /* background-color: red; */
    overflow: hidden;
  }

}