@import "../colours";

#detail-view{

  .content-area{
    border-left: 1px solid $colour-mid-grey;
    margin-bottom: 4rem;
  }

  i{
    position: relative;
    top: 0.1rem;
  }

  .sidebar{

    border: none;

    span.link.back {
      cursor: pointer;

      //visibility: hidden; // FIXIT REMOVE

      i{
        color: $colour-mid-grey;

      }
    }
  }

  @extend %view-with-sidebar;
  @include hbox( 2 );

  .hbox.inner {

    >div{
      width: 47.7%;
      margin-left: 2.3%;

      &:first-child{

      }

      &:last-child{

      }

      .image-area{

        img{
          width: 100%;
          height: auto;
          border: 1px solid $colour-mid-grey;
          box-sizing: border-box;
        }
      }


      .text-area{

        padding-top: 1rem;
        padding-bottom: 1.75rem;

        p{

          margin: 0;
          padding: 0;

          &.design-text{
            text-transform: capitalize;
            font-size: 2rem;
            margin-bottom: 0.5rem;
          }

          &.colour-text{
            text-transform: uppercase;
            font-size: 1.25rem;
            color: $colour-grey;
            margin-bottom: 1.25rem;
          }

          &.fabric-text{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: 0.25rem;
          }

          &.details-text{
            font-size: 1rem;
            color: $colour-off-black;
          }
        }

        .colour-thumb-selector{
          margin-bottom: 1.75rem; // *** trying to get my-swatches down further - might break
        }

        .link.add-myswatches{
          font-weight: bold;
          font-size: 1rem;
          position: relative;

          i{
            padding-right: 0.5rem;
            color: $colour-grey;
          }


          &:after{
            content: url("/assets/images/stroke.png");
            position: absolute;
            top: 0.5rem;
            left: 1.5rem;
            width: 85%;
            opacity: 0.6;
            overflow: hidden;
          }

          &.is-added{

            cursor: default;
            color: $colour-mid-grey;

            &:after{
              content: "";
            }
          }
        }
      }

    }

    // *** horizontal rule
    &::after{
      content: "";
      width: 97.7%;
      margin-left: 2.3%;
      height: 1px;
      display: block;
      background-color: $colour-mid-grey;
    }

  }

  .bottom-panel{

    margin-left: 52.25%;;//51.25%;

    p{
      margin-bottom: 0.25rem;
    }

    ul{
      li{
        cursor: pointer;
        text-transform: uppercase;

        span{

          margin-left: 0.25rem;

          i{
            color: $colour-mid-grey;
          }
        }
      }
    }
  }
}

._minimum_, ._small_ {

  #detail-view{

    @extend %view-with-sidebar-mobile-override;

    .hbox .sidebar {
      display: block;

      span.link.back{
        text-align: left;
      }
    }

    .hbox .content-area{
      padding-top: 1rem!important;
      margin-bottom: 0;
    }

    .hbox.inner {

      > div {
        //width: 48.8%;
        width: 100%;
        margin: 0;

        &:first-child {
          //background-color: blue;
          margin-left: 0;
        }

        &:last-child {
          //background-color: orange;
        }
      }

      p.design-text{
        line-height: 100%;
      }

      p.details-text{
        margin-bottom: 1rem;
      }

      &:after{
        content: none; // *** looks like bottom-border
      }

    }
  }
}
