@import "../colours";

#myswatches-view{

  .content-area{
    border-left: 1px solid $colour-mid-grey;
    padding-bottom: 2.5rem; // *** allows for bottom-paginator
  }

  .sidebar{

    border: none;

    span.link.back {
      cursor: pointer;
    }
  }

  @extend %view-with-sidebar;
  @include hbox( 2 );


}

._minimum_, ._small_ {
  #myswatches-view{
    @extend %view-with-sidebar-mobile-override;

    .product-grid{
      margin-left: 0;
    }
  }
}

