@import "../colours";

.sidebar{

  padding: 0;
  padding-right: 1rem;
  //box-sizing: border-box;
  border-right: 1px solid $colour-mid-grey;

  border-bottom: 1px solid #a7a9ac;
  //border-bottom-right-radius: 0.5rem;

  > div{
    //border-bottom: 2px dashed $colour-mid-grey;
    padding-bottom: 1rem; // RESTORE
    @extend %standard-vertical-gap;

    &:last-child{
      border: none;
    }
  }

  h3{
    font-size: 1.25rem;
    color: $colour-grey;
  }

  .find-design-input{

    //@extend %under-stroke; // *** FIXIT spacing issue with this on, removing for now

    h3{
      margin: 0;
      margin-bottom: 0.25rem;

      &:after{
        font-family: 'hopkins-icons';
        content: "\E901";
        position: relative;
        float: right;
        font-size: 100%;
        line-height: 100%;
        color: $colour-off-black;
      }
    }

    .react-autosuggest__container{

      .react-autosuggest__input{
        width: 100%;
      }

      .react-autosuggest__suggestions-container{
        width: 100%;
      }
    }
  }

  .find-colour-panel{
    margin-top: 3rem;
  }

  .fabric-selectors{
    margin-top: 3rem;
  }
}