@import "../colours";

#footer{

  background-color: white;
  @extend %standard-vertical-gap;


  text-align: center;
  font-size: 1rem;

  //border-top : 2px dashed black;

  /*@include border-image(url( "/assets/images/border-image.png" ) 4 repeat); // FIXIT
  border-width: 1px;*/

  background-image: url("/assets/images/footer-border.png");
  background-size: 100% 0.5rem;
  background-repeat: no-repeat;
  padding-top: 2rem;

  ul{
    @extend %horizontal-list;

    li{
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.15rem;
      border-right: 1px solid black;

      padding: 0 2%;
      padding-top: 0.1%;
      line-height: 85%;

      &.is-active{
        font-weight: bold;
        color: $colour-off-black;
      }

      &:last-child{
        border: none;
        //color: red;
      }

      &.my-swatches{

        &:after{
          left: 10%;
          top: 0.5rem;
          width: 80%;
        }
      }
    }
  }

  p{
    font-size: 1rem;
    margin-top: 2rem;
    color : $colour-mid-grey;
  }

}

._minimum_, ._small_ {
  #footer{

    // FIXIT not good for iphone6+
    padding-top: 0.25rem; // ???

    p{
      margin-top: 0.5rem; // ???
    }

    ul{
      display: none;
    }
  }
}