@import "../../colours";

.product-grid {
  //background-color: green;
  //padding-top: 1rem;

  min-height: 23rem;

  .products { // *** @as: december 2020
    display: flex;
    flex-wrap: wrap;
  }

  p.no-results-msg {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: $colour-grey;
  }

  .product-item {

    //@include user-select(all);
    //opacity: 0;
    //@include transform(scale( 1.05 ));

    //@include clearfix(); // TEST

    position: relative;
    width: 31%;
    margin: 2.3%;
    margin-right: 0;
    margin-top: 0;
    background-color: #fff;
    float: left;
    overflow: hidden;
    box-sizing: border-box;

    border: 1px solid $colour-mid-grey;

    .is-selected {
      font-weight: bold;
      color: red;
    }

    .image-area {
      cursor: pointer;
      //background-image: url("/assets/images/products/product-item-background.jpg");
      //background-size: contain;


      position: relative;

      width: 100%;
      height: auto;
      //height: 14.25rem;

      img {

        width: 100%;
        height: auto;

        &.product-image{

          display: block;

          &.is-loading{
            display: none;
          }

        }

        &.product-loading{

          display: none;

          &.is-loading{
            display: block;
          }

        }
      }

      /* img[src='Error.src']{ // *** TEST ONLY
         display: none;
       }*/

      p { // *** DEBUGGING REALLY - TODO REMOVE
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0.25rem;
        font-size: 0.6rem;
        font-family: arial;
        text-shadow: 0px 1px 0px white;
      }

      .myswatch-added-icon{
        position: absolute;
        top: -1px;
        right: -1px;
        background-color: white;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid $colour-mid-grey;
        line-height: 100%;
        padding: 0 0.25rem;
        padding-top: 0.2rem;

        &:after{
          content: "MS";
        }
      }

      .product-loading-spinner{
        @include spinner( $colour-grey, 0.7s, 3rem );
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);

        display: none;

        &.is-loading{
          display: block;
        }
      }

    }

    .text-area {
      padding: 0.25rem;

      h4, h5, p {
        margin: 0;
      }

      h4 {
        @include user-select(all);
        text-transform: uppercase;
        font-size: 1.25rem;
        height: 3rem; // *** allows for two lines
      }

      h5 {
        text-transform: capitalize;
        color: $colour-grey;
        font-size: 1.35rem;
        font-weight: normal;
      }

      p.available-in {
        //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: $helvetica; // *** bourbon.io
        font-size: 0.75rem;
        color: $colour-off-black;
      }
    }
  }

  &.my-swatches {
    .product-item {

      border: none;
      margin-top: 2.3%;

      .image-area {
        //cursor: default;
      }

      .text-area{
        border-bottom: 1px solid $colour-mid-grey;

        h4{

        }
      }

      p.remove-btn{
        margin: 0;
        text-align: right;

        span{
          cursor: pointer;
        }
      }

    }
  }

}


// BREAKS

._medium_ {

  .product-grid {
    .product-item {
      width : 47.7%; // *** switch to 2 col layout
    }
  }
}

._minimum_, ._small_ {

  .product-grid {

    margin-left: 1.25rem;

    .product-item {
      width : 96.7%; // *** switch to 1 col layout
    }
  }
}
